/* header */

header{
    display: flex;
    justify-content: space-between;
    background-color: #227C9D;
    border-bottom: 10px solid #172121;
    padding:  10px 20px;
}
nav{
    text-align: right;   
}
a{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
a::before{
    content: "";
    width: 10px;
    height: 10px;
    margin-right: 10px;
    display: inline-block;
    background-color: #62C370;
}
#btnDownload{
    display:inline-block;
    background-color: #62C370;
    box-shadow: 5px 5px 0 black;       
    padding:18px 20px; 
    margin-right: 0;
    transition: transform 0.4s;

}
#btnDownload:hover{
    transform: scale(1.1);
    transition: 0.4s;
}

/* bg */
/* .bg{
    width: 1440px;
    height: 807px;;
}

.intro{
    /* float: left; */
    /* display: inline-block;
    width: 954px;
    height: 785px;
    background-color: #227C9D;
    border-bottom: 5px solid #000; 

}
/* .caixa{
    margin: 104px 236px 497px 91px;
    width: 627px;
    height: 184px;
    background-color: #3A4042;
    box-shadow: 10px 10px 0 black;
    
}
.caixa h1{
    font-family: "Press Start 2P";
    color: #62C370;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    padding: 28px;
    text-shadow: 4px 4px 0px black;
    font-style: "Press Start 2p, cursive";
}
.caixa h2{
    font-family: "Press Start 2P";
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 44px;
    text-shadow: 4px 4px 0px black;
    font-style: "Press Start 2p, cursive"; 
} */ 
/* .btn{
    display:inline-block;
    background-color: #62C370;
    box-shadow: 5px 5px 0 black;       
    border: none;
    font-family: "Fira Code";
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
    margin-left: 112px;
    margin-top: 42px;
    width: 170px;
    height: 60px;
    cursor: pointer;
    transition: 0.4s;
}
.btn:hover{
    transform: scale(1.1);
    transition: 0.4s;
}
.bg-image{
    float: right;
    background-color: red;
    width: 481px;
    height: 785px;
    border-left: 5px solid BLACK;
    border-bottom: 5px solid #000;
} */