.wrapper-card{
    margin-top: 50px;
    justify-content: center;
    height: 280px;
    display: flex;
    align-items: center;

}
/* card image */
.wrapper-card > .card.-image img{
    background-color: #4c2e6e;
    box-shadow: #DB1F48 10px 10px 0;
    height: 280px;
    margin-right: 140px;
    transition: 1s;
    
}
.wrapper-card > .card.-image.-second img{
    background-color: #004369;
}
.wrapper-card > .card.-image.-third img{
    background-color: #970421;
}
.wrapper-card > .card.-image img:hover{
   cursor: pointer;
   background-color: #01949A;
   transition: 0.7s;
   transform: scale(1.1) ;
   
}


