.wrapper-card{
    margin-top: 50px;
    justify-content: center;
    height: 280px;
    display: flex;
    align-items: center;

}
/* card image */
.wrapper-card > .card.-image img{
    background-color: teal;
    box-shadow: #FFF 10px 10px 0;
    height: 280px;
    margin-right: 140px;
    transition: 1s;

}
.wrapper-card > .card.-image img:hover{
   cursor: pointer;
   background-color: #000;
   transition: 1s;
}

