
.main-sobre {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 85px;
    padding-right: 85px;
}

.main-sobre::before {

    content: '';
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 38.2px;
    display: block;
    border: 3px dashed #000;
    width: 100%;

}
.main-sobre .info-box{
    height: 215px;
    text-align: center;
    
}
.main-sobre .icon-project{
    height: 140px;
    background: #01949A;
    border:5px #1C1D26 solid;
    box-sizing: border-box;
}

.main-sobre figcaption{
    text-align: center;
    margin-bottom: 50px;
    font-family:'Press Start 2P';
    font-weight: 400;
    font-size: 25px;
    color: #DB1F48;
}
.main-sobre figure::before{
    content: '';
    width: 30px;
    box-sizing: border-box;
    height: 0;
    border: 2.5px #1C1D26 dashed ;
    position: absolute;
    transform: rotate(90deg) translateX(-62%) translateY(-50px);
}

.main-sobre::after {

    content: '';
    position: absolute;
    box-sizing: border-box;
    top: 38.2px;
    display: block;
    border: 3px solid #000;
    width: 90%;
    height: 6px;
    text-align: center;

}
.buttons{
    position: relative;
}
.arrow{
    background-color: #DB1F48;
    cursor: pointer;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: none;
    box-shadow: 4px 4px 0 #1C1D26;   
    position: absolute;
}

.arrow.-right{
    position: absolute;
    left: 15px;
    top: 120px;
}
.arrow.-left{
    position: absolute;
    right: 15px;
    top: 120px;
}

.arrow.-left::before{
    content: '';
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px; 
    border: 10px solid none;
    border-left: 20px solid snow;
    border-right: 0px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transform: translateX(5px);

}
.arrow.-right::before{
    content: '';
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px; 
    border: 10px solid none;
    border-left: 20px solid snow;
    border-right: 0px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transform: translateX(2px) scaleX(-1);
}

