/* header */
header{
    display: flex;
    justify-content: space-between;
    background-color: #004369;
    border-bottom: 10px solid #172121;
    padding:  10px 20px;
}
nav{
    text-align: right;   
}
.navitens a{
    display: inline-flex;
    align-items: center;
    color: #E5DDC8;
    font-size: 20px;
    font-family: "Fira Code";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
.navitens a::before{
    content: "";
    width: 10px;
    height: 10px;
    margin-right: 10px;
    display: inline-block;
    background-color: #DB1F48;
}
.picture img{
    width: 60px;
}

