.main-carousel{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 85px;
    padding-right: 85px;
}
.main-carousel::before{
    content: '';
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 38.2px;
    display: block;
    border: 3px dashed #000;
    width: 100%; 
}
.main-carousel::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    left: 90px;
    top: 38.2px;
    display: block;
    border: 3px solid #000;
    width: 90%; 
}
.img-project::before{
    content: '';
    position: absolute;
    border: 2px dashed black;
    width: 35px;
    transform: rotate(90deg);
    top: 60px;
    box-sizing: border-box;
}
.main-carousel .items{
    width: 100%;
}

.main-carousel .elements{
    display: flex;
    justify-content: space-between;

}
.img-project{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.img-project figcaption{
    font-family: 'Press Start 2P';
    color: #DB1F48;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 25px;
}
.logo img{
    display: flex;
    align-items: center;
    height: 140px;
    border: 5px solid #000;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #CEB02A;
}






/* conf dos butão */
.arrow{
    background-color: #DB1F48;
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: 5px 5px black;
    cursor: pointer;
}
.main-carousel .arrow{
    position: absolute;
    bottom: 80px;
    transform: translateY(50%);
}
.arrow span{
    display: none;
}
.arrow::before{
    content: '';
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 15px solid transparent;
    border-left: 28px solid white;
    transform: translateX(5px);
}

.arrow.-right{
    position: absolute;
    right: 15px;
}
.arrow.-left{
    position: absolute;
    left: 15px;
}
.arrow.-left::before{
    transform: rotate(180deg) translateX(14px);
    
}
